<ion-header>
    <ion-toolbar >
        <ion-title>  <ion-icon name="menu"></ion-icon>Quizer</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
<h1 align=center> Quiz categories </h1>
<ion-card>
    <ion-card-content>
      
    <div class="row">
  <div class="column">
    <img src="https://store-images.microsoft.com/image/apps.46713.13510798886206986.e1e7e0cb-5610-4e39-bcf7-7ea0d34190c6.1e099cc1-5726-4cc4-9a8a-f9944fad66e3" alt="Snow" style="width:100%">
   <ion-label text-center >Movies</ion-label>
  </div>
  <div class="column">

    <img src="https://lh3.googleusercontent.com/_OKwf4_W2yvVsbEZ68hpRjxA2WoAvkJD9YpQUINvhfUExbOc_TGWrp3REPQR0KPmH1k" alt="Forest" style="width:100%">
  <ion-label>Sports</ion-label>
  </div>
  <div class="column">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTa0tyu7S3GbvbPcY5obiQgho4msDSyZFNN8g&usqp=CAU" alt="Mountains" style="width:100%">
    <ion-label align= center>Maths</ion-label>
  </div>
  <div class="column" >
   <p align=center> <img src="https://image.shutterstock.com/image-vector/outline-drawing-laptop-elegant-line-260nw-727772305.jpg" alt="Mountains" style="width:100%" align =center> </p>
    <ion-label>Technology</ion-label>
  
  </div>
</div>
    
    </ion-card-content>
  </ion-card>
</ion-content>